//
   Created by ruben on 03/11/2016.

extends layout

block content
    h1 About this website
    p This website is for a conference, the conference is about html5 and other programming languages.
    p On this website, you can order tickets, see who's presenting what where and when or send a question towards a speaker.