extends layout

block content
  .section
    .container
      .row
        .col-md-6
          //img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          img.img-responsive(src='/images/test.jpg')
        .col-md-6
          h1
          h3 A subtitle
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
            | magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
            | massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
            ||rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.

